.design-settings-container {
	display: flex;
	justify-content: center;
}

.design-settings-container p {
	margin-bottom: 0;
}

.design-details-container label,
.logo-upload-container label {
	font-weight: bold;
	color: white;
	font-size: 14px;
}

.react-tabs {
	width: 100%;
}

.text-editor {
	margin-top: 50px;
}

.circle-picker {
	margin: auto !important;
	padding-top: 12px;
}

.text-editor-input {
	text-align: center;
}

.chrome-picker {
	width: 225px;
	background: linear-gradient(#000000, #0f0f0f) !important;
	border-radius: 2px;
	box-shadow: none !important; /*rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;*/
	box-sizing: initial;
	font-family: Menlo;
	color: white;
	margin: 10px auto;
}

.chrome-picker input {
	color: white !important;
}
#font-picker {
	padding-top: 12px;
}

#font-picker button {
	background: black;
	color: white;
}

#font-picker li {
	background: black;
	color: white;
}

.number-picker {
	display: flex;
	width: 75px;
	margin: auto;
}

.number-picker-input {
	text-align: center;
	color: white;
	padding-top: 3.5px !important;
	border: none !important;
}

.number-picker-numbers {
	display: flex;
}

.number-picker-arrows {
	padding-top: 10px;
	padding-left: 5px;
}

.deactivated {
	visibility: hidden;
}

.up-arrow,
.down-arrow {
	cursor: pointer;
	height: 15px;
}

.up-arrow:hover,
.down-arrow:hover {
	color: #ff367a;
}

.logo-upload-container {
	align-items: center;
	margin-top: 30px;
}

.image-upload-input {
	margin-top: 10px;
}

.sample-image-container {
	width: 150px;
	height: 150px;
	border: 1px dotted white;
	margin: 20px 0;
	background: rgba(0, 0, 0, 0.6);
}
.sample-image-container img {
	max-height: 100%;
	width: auto;
}

.remove-logo {
	float: left;
	margin: 0;
}
