.design-body {
	display: flex;
	width: 90%;
	min-height: 90%;
	height: auto;
	position: relative;
	top: 30px;
	/* transform: translateY(-50%); */
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	border: 1px solid #ff367a;
}
