.preview-container {
	justify-content: center;
	position: relative;
	height: 700px;
	min-width: 526px;
}
.text-boundary-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.preview-img {
	height: 100%;
	width: auto;
	/* top: 50%; */
	position: absolute;
	/* transform: translateY(-50%); */
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}

.text-preview-container {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo-preview-container {
	width: 100px;
	height: 100px;
}

.logo-preview-container img {
	width: 100px;
	height: 100px;
}

.text-preview-container p {
	margin: 0;
}

.text-boundary {
	position: absolute;
	border: 1px solid white;
	height: 364px;
	width: 246px;
	top: 40px;
	transform: translateX(-58%) rotate(20deg);
	left: 50%;
}

.react-draggable {
	display: inline-block;
	height: 20px;
	width: 20px;
}
