.preview-container {
	justify-content: center;
	position: relative;
	height: 700px;
}

.preview-img {
	height: 100%;
	width: auto;
	/*top: 50%;*/
	position: relative;
	/*transform: translateY(-50%);*/
	z-index: -1;
}

.text-preview-container {
	display: inline-block;
}

.logo-preview-container {
	width: 100px;
	height: 100px;
}

.logo-preview-container img {
	width: 100px;
	height: 100px;
}

.text-preview-container p {
	margin: 0;
}

.text-boundary {
	position: absolute;
	border: 1px solid white;
	height: 364px;
	width: 246px;
	top: 40px;
	left: 176px;
	transform: rotate(20deg);
}

.react-draggable {
	display: inline-block;
}
